<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mju.dao.TmplDao">

    <resultMap id="tmpl" type="Tmpl">
        <id property="tmplId" column="tmplId"/>
        <result property="tmplName" column="tmplName"/>
        <result property="totalSeat" column="totalSeat"/>
        <result property="seatMap" column="seatMap"/>
    </resultMap>

    <select id="queryTmpl" resultMap="tmpl" parameterType="map">
        select *
        from t_tmpl
        <where>
            <if test="tmplName != null">
                AND tmplName like '%${tmplName}%'
            </if>
        </where>
        limit #{offset},#{perPage}
    </select>

    <select id="selectTmplById" resultMap="tmpl" parameterType="int">
        select *
        from t_tmpl
        where tmplId = #{tmplId} limit 1
    </select>

    <select id="countOfTmpl" resultType="int" parameterType="map">
        SELECT COUNT(1)
        from t_tmpl
        <where>
            <if test="tmplName != null">
                AND tmplName like '%${tmplName}%'
            </if>
        </where>
    </select>

    <insert id="insertTmpl" parameterType="tmpl">
        insert into t_tmpl(tmplId,tmplName,totalSeat,seatMap)
         values(#{tmplId},#{tmplName},#{totalSeat},#{seatMap})
    </insert>

    <delete id="deleteTmplById" parameterType="int">
        delete from t_tmpl
        where tmplId = #{tmplId}
    </delete>

    <update id="updateTmpl" parameterType="tmpl">
        UPDATE `t_tmpl`
        SET
         `tmplName` = #{tmplName},
         `totalSeat` = #{totalSeat},
         `seatMap` = #{seatMap}
        WHERE
            `tmplId` = #{tmplId}


    </update>
</mapper>